<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-click="goToSettings()">Settings</a>
    </li>
  </ul>
  <h3 class="text-muted">Safe</h3>
</div>

<div class="alert alert-danger" ng-show="error!=undefined">
  <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
  </button>
  {{error}}
</div>
<div class="alert alert-info" ng-show="info!=undefined">{{info}}</div>

{{docletId}}

<div class="panel panel-default" ng-if="uploadingFiles.length > 0">
  <table class="table">
    <tr ng-repeat="file in uploadingFiles">
      <td>{{file.name}}</td>
      <td>{{file.status}}</td>
      <td>
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-primary" ng-click="upload(file)">Upload</button>
          <button type="button" class="btn btn-warning" ng-click="cancel(file)">Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-success" ng-click="add()">Add File</button>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-hover" ng-if="fileinfos !== undefined">
      <thead>
        <td>Name</td>
        <td>Modified</td>
        <td>Size</td>
      </thead>
      <tbody>
        <tr ng-repeat="file in fileinfos" ng-click="fileSelected(file)" ng-class="{ 'active' : file === selectedFile }">
          <td>
            <image src="images/folder.png" width="32px" height="32px" ng-if="file.isDir"></image>
            <image src="images/file.png" width="32px" height="32px" ng-if="file.isDir==false"></image>
            <a href="{{computeFileUrl(file)}}">{{file.name}}</a>
          </td>
          <td>{{file.modified}}</td>
          <td>{{file.size}}</td>
          <td>
            <button type="button" class="btn btn-default btn-xs btn-danger" ng-click="delete(file)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-if="fileinfos == undefined" class="jumbotron text-center">
      <p>Loading, please wait</p>
    </div>

  </div>

</div>
