<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-click="goToSettings()">Settings</a>
    </li>
  </ul>
  <h3 class="text-muted">Safe</h3>
</div>

<div class="panel panel-default" ng-if="uploadingFiles.length > 0">
  <table class="table">
    <tr ng-repeat="file in uploadingFiles">
      <td>{{file.name}}</td>
      <td>{{file.status}}</td>
      <td>
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-primary" ng-click="upload(file)">Upload</button>
          <button type="button" class="btn btn-warning" ng-click="cancel(file)">Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-success" ng-click="add()">Add File</button>
    </div>
  </div>

  <div class="panel-body">
    <skr-account></skr-account>
  </div>

</div>
