<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-click="done()">Done</a>
    </li>
  </ul>
  <h3 class="text-muted">Settings</h3>
</div>

<form>
  <div class="form-group">
    <label>Source Folder</label>
    <input type="text" class="form-control" ng-model="sourcePath" placeholder="Enter path to source folder">
  </div>
  <div class="form-group">
    <label>Public Key</label>
    <input type="text" class="form-control" ng-model="publicKeyPath" placeholder="Enter path to public key">
  </div>
  <div class="form-group">
    <label>Private Key</label>
    <input type="text" class="form-control" ng-model="privateKeyPath" placeholder="Enter path to private key">
  </div>
  
</form>
