<table class="table table-hover">
  <thead>
    <td>Name</td>
    <td>Modified</td>
    <td>Size</td>
  </thead>
  <tbody>
    <tr ng-repeat="file in fileinfos" ng-click="fileSelected(file)" ng-class="{ 'active' : file === selected.file }">
      <td>
        <image src="images/folder.png" width="32px" height="32px" ng-if="file.isDir"></image>
        <image src="images/file.png" width="32px" height="32px" ng-if="file.isDir==false"></image>
        {{file.name}}
      </td>
      <td>{{file.modified}}</td>
      <td>{{file.size}}</td>
    </tr>
  </tbody>
</table>
